.biographies {}
.biography_outer {
    width: calc(33% - 10px);
    min-width: 170px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    .bio_div {
      padding: 30%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    h3 {
      font-size: 1.5em;
      margin: 0 0 10px;
      background: #03feff;
      padding: 10px;
      border-top: solid 2px;
    }
}

.biography_content {

    display: none;
}

.featherlight {
    .biography_content {
        display: block;
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        top: 0;
        left: 0!important;
        margin-left: 0!important;
        padding: 50px!important;
        background: $brand_color;

        h3 {
          font-size: 4em;
          margin-bottom: 20px;
        }
    }
}

button.featherlight-close-icon.featherlight-close {
    position: fixed;
    top: 20px;
    z-index: 999999999999;
    font-size: 4em;
    right: 20px;
    font-weight: lighter;
    background: 0;
    transition: all ease-in-out 0.2s;
    &:hover {
      transform: rotate(90deg) scale(1.2);
    }
}

.single-evenement {
  .featherlight {
    background:#00ffff!important;
  }
  .featherlight-content {background:#00ffff; margin:0; border:0; padding:0;}
  .biography_content {position:relative;}
}
