article {
$event_title_padding: 30px;

    header.event_header {

        background: no-repeat center center;
        background-size: cover;
        position: relative;
        margin-bottom: 130px;
        padding:300px 0 0;

        .event_title {

            position: relative;
            padding: $event_title_padding 0;
            bottom: -70px;
            color: $brand_color;
            &:before {
                position: absolute;
                bottom: 0;
                top:0;
                left: 0;
                content: '';
                width: 100%;
                border-top: 10px solid $brand_color;
                border-bottom: 10px solid $brand_color;

                z-index: 1;
                background:   url('../img/chevrons_2r_1f.svg.bak') no-repeat 10px center black ;
                background-size: 100px;
                @media (min-width: 768px) {
                    width: calc( 50vw +  #{750px / 6}  );
                }
                @media (min-width: 992px) {
                    width: calc( 50vw +  #{970px / 6}  );
                }
                @media (min-width: 1200px) {
                    width: calc( 50vw +  #{1170px / 6}  );
                }

            }
            h1  {
                position: relative;
                z-index: 2;
                font-size: 3em;
                margin-bottom: 6px;
            }

            p {
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                padding-bottom: 0;
                span.subtitle {
                    text-transform: none;
                }
            }
            .endpoint {
              position: absolute;
              top: #{-1 * $event_title_padding};
              right: -52px;
              z-index: 2;
              bottom: #{-1 * $event_title_padding};
              @media(max-width: 768px){display: none;}

            }

            .floatleftdiv {
              display: none;
              @media(min-width: 768px){display: inline-block;}
              position: absolute;
              z-index: 9;
              width: 70px;
              height: 100%;
              top: 0;
              left: 0;
            }

            .floatrightdiv {
                display: inline-block;
                margin-left: 0px;
                @media(min-width: 768px){margin-left: 80px; }
            }
        }



    }

    li.gallery_image div {
    height: 420px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

}


div.show_ticket_office {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: solid 2px $brand_color;
    text-transform: uppercase;
    font-size: 1.6em;
    cursor: pointer;
    display: inline-block;
}


.ticket_office {
  background: rgba(0,0,0,0.9);
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  display: none;
  .close {
    position: fixed;
    right: 10px;
    top: 0;
    z-index: 10;
    color: white;
    font-size: 50px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all ease-in-out 0.2s;
    &:hover {
      transform: scale(1.1) rotate(-45deg);
    }
  }
  iframe {height: calc(100vh - 100px);}
}
