
$footer_padding: 35px;
footer {
    background: $dark_grey;
    padding: $footer_padding 0 0;
    margin:20px 0 0;
    color: white;

    img {
        width: 60%;
        max-width: 250px;
        height: auto;
        margin:0 20% $footer_padding;
        @media(max-width: 768px){margin:0 20% $footer_padding 0;}
    }

    p {
        padding: 0 ;
    }

    a {
      color: $brand_color;
      border-bottom: 0;
    }

    form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 0 20px;
        max-width: 350px;




        input {
            flex:0 0 auto;
            margin: 10px 0 0;
            width: 70%;

            &#subscribe_button {
                width: 29%;
                font-size: 1em!important;
                min-width: 70px;
                margin-left: 10px;

            }
        }
    }



    p#copyright {
        border-top: 10px solid $brand_color;
        margin: 0;
        padding: 15px 0;
        text-align: center;
        color: white;
        background: $black;
        text-transform: uppercase;
    }
}


#bg_chevron_1 , #bg_chevron_2 {
    position: fixed;
    z-index: -1;
    bottom: 20px;
    width: 50%;
    height: 600px;
    left:0;
    background: url('../img/chevrons_2r_1f.svg') no-repeat left bottom;
    background-size:contain;
    // opacity: 0.36;


    &#bg_chevron_2 {
        left: auto;
        right:0;
        background-image: url('../img/chevrons_2l_1f.svg');
        background-position: right bottom;
        height: 450px;
    }

}

body.browser_ie_or_edge.home {
    #bg_chevron_1 , #bg_chevron_2 {
    display: none;
    }
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 15;
    background: rgba(0,0,0,0.5);

    .popup_inner {
      width: 600px;
      height: auto;
      max-width: 95%;
      min-height: 50vh;
      background: white;
      margin: auto;
      margin-top: 10vh;
      padding-top: 20px;
      border: solid 5px #000;
      position: relative;

      .close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.3em;
        padding: 3px 3px 3px 5px;
        cursor: pointer;
        span {
          display: inline-block;
          transform: rotate(45deg);
        }
      }

      h2{
        background: black;
        color: $brand_color;
        padding: 20px;
        border-bottom: solid 6px $brand_color;
        border-top: solid 6px $brand_color;
        width: calc(100% - 80px);
        position: relative;
        margin-bottom: 0;
        .endpoint {
            position: absolute;
            top: -6px;
            bottom: -6px;
            right: -10px;
            width: 20px;
        }
      }
      .inner_box{

        padding: 20px;
      }
    }
}
