nav {

    background: $brand_color;
    text-align: center;
     ul {
         padding: 0;
         margin:0;
         li {
             display: inline-block;
             padding: 0;
             margin:0;
             font-weight: bold;
             text-transform: uppercase;
             font-size: 1.3em;
              a {
                  display: inline-block;
                  padding: 15px 10px;
                  transition:  all 0.3s;
                  &:link, &:active,  &:visited {
                      color: $black;
                  }
                  &:hover {
                      color: $brand_color;
                      background-color: $black;
                  }
              }
              &.branding {
                  a {
                      text-indent: -9999px;
                      background-image: url('../img/logo_black.svg');
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: 80px;
                      width: 100px;

                      &:hover {
                           background-image: url('../img/logo.svg');
                      }


                  }
              }
         }
     }
}
