$nav_a_padding: 15px 10px;

#menu_button {
    display: block;
    padding: $nav_a_padding;
    transition:  all 0.3s;
    background: $brand_color url('../img/menu.svg') no-repeat right 20px center;
    background-size: 30px;
    height: 50px;
    position: relative;
    z-index: 201;
    text-indent: -9999px;
    border-bottom: solid 1px #222;
    @media (min-width: 768px) {
        display: none;
    }
}
$nav_width: 300px;
nav {

    background: $brand_color;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $nav_width;
    height: 100%;
    z-index: 200;
    display: block;
    transition: all 0.3s;
    transform: translateX( $nav_width );

    @media (min-width: 768px) {

        position: static;
        width: auto;
        height: auto;
        text-align: center;
            transform: none;

    }


    @media (max-width: 768px) { // only for mobile
        &.show_nav {
            transform: translateX(0);
        }
        .container {    padding: 50px 0 0;    }
    }


    ul {
        padding: 0;
        margin:0;


        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }


        li {
            display: block;
            padding: 0;
            margin:0;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.3em;
            position: relative;




            @media (min-width: 768px) {
                flex: 1;
                display: inline-block;

                &:hover {
                    ul {
                        display: inline-block;
                    }
                }
            }


            a {
                display: block;
                transition:  all 0.3s;
                padding: 15px 80px 15px 20px;
                @media (min-width: 768px) {
                  padding: $nav_a_padding;
                }

                &:link, &:active,  &:visited {
                    color: $black;
                }
                &:hover {

                }
            }

            &:hover > a {
                    color: $brand_color;
                    background-color: $black;
            }


            ul {

                display: none;

                @media (min-width: 768px) {
                    position: absolute;
                    z-index: 100;
                    top:48px;
                    left: 0;
                    width: 300px;

                    text-align: left;
                    background: darken($brand_color,5);

                }


                li {
                    font-size: 0.8em;
                    display: block;
                    //flex:1 auto 0;
                    // width: 50%;
                    // min-width: 50%;

                    @media (min-width: 768px) {
                        display: block;
                        width: 100%;
                        min-width: 100%;
                    }
                    a {
                        padding: 10px 80px 10px 20px;
                        @media (min-width: 768px) {
                          padding:10px 10px;
                        }
                        display: block;
                    }
                }
            }




            &.branding {
                a {
                    text-indent: -9999px;
                    background-image: url('../img/logo_black.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 80px;
                    width: 100%;

                    &:hover {
                        background-image: url('../img/logo.svg');
                    }


                    @media (min-width: 768px) {
                        width: 100px;
                    }


                }
            }
        }
    }
}



    .expander {
      display: inline-block;
      font-size: 2em;
      color: darken($brand_color,20);
      height: 30px;
      width: 60px;
      padding: 0 10px;
      position: absolute;
      top: 12px;
      right:10px;
      cursor: pointer;
      text-align: right;
      z-index: 400;
        @media (min-width: 768px) {
            display: none;
        }
    }


    .logo_link {
      width: 100px;
      height: 30px;
      margin-top:10px;
      background-image: url('../img/logo_black.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80px;
      position: absolute;
      top: 0;
      z-index: 999;
      @media (min-width: 768px) {
          display: none;
      }
    }
