ul.gallery_images {
    margin: 0;
    padding: 0;
}


.gallery_image {
    width: 48%;
    width: calc(50% - 10px);
    display: inline-block;
    margin: 0;
    padding: 0;



    a.gallery {
        display: block;
        border:0;
        background: none;
        overflow: hidden;
        position: relative;

        &:hover {
            img {
                transform: scale(1.2);
                &.gallery_blob {
                    transform: scale(1);
                }
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        margin: 0 0;
        transform: scale(1.1);
        transition: all $transition_time;

    }

    img.gallery_blob {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        transform: scale(1);
    }

}




@media (min-width: 768px){

    .gallery_image {
        width: 48%;
        width: calc(50% - 10px);
    }

}


@media (min-width: 992px){

    .gallery_image {
        width: 31%;
        width: calc(33% - 10px);
    }

}
