$social_bar_width: 50px;
@keyframes comeIn {
    from {transform: scale(0.9) translateY(5px) skewX(5deg);opacity: 0;}
    to {transform:scale(1) translateY(0px) skewX(00deg); opacity:1}
}

#social_bar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s;

    ul {

        text-align: center;
        background: $black;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            font-size: 2em;
            padding: 0;
            position: relative;

            span.tittle {
                position: absolute;
                right: 63px;
                background: $brand_color;
                font-size: 0.6em;
                padding: 6px;
                top: 8px;
                border-radius: 4px  0 0 4px;
                text-align: right;
                display: none;


                &:after {
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 10px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 0 8px 8px;
                    border-color: transparent transparent transparent  $brand_color;
                    display: block;
                }
            }

            &:hover span.tittle {
                animation: comeIn 0.3s;
                display: none;
            }



            a {

                display: block;
                text-align: center;
                color: white;
                padding:10px 20px;
                border: 0;

                background: no-repeat center center;
                background-size: 27px;

                span {
                        text-indent: -9999px;
                        display: block;
                        height: 0;
                }

                &:hover {
                    background-color: $brand_color;
                    color: white;
                }
            }

            &#social_tickets {
                a {
                    background-color: $brand_color;
                    color: black;
                }
            }

            // &#social_facebook {
            //     a {
            //         background-image: url('../img/facebook.svg');
            //     }
            // }
            // &#social_twitter {
            //     a {
            //         background-image: url('../img/twitter.svg');
            //     }
            // }
            // &#social_instagram {
            //     a {
            //         background-image: url('../img/instagram.svg');
            //     }
            // }



        }
    }
}




@media (min-width: 768px) {
    #social_bar {
        position: fixed;
        top:50%;

        width: auto;
        right: 0;
        left: auto;
        // transform: translateX($social_bar_width);

        ul {
            background: none;
            width:$social_bar_width;
            li {
                display: block;

                &:hover {
                    span.tittle {
                        display: inline-block;
                    }
                }
                a {
                    height: $social_bar_width;
                    line-height: $social_bar_width;
                    padding: 1px;
                    background-color: $black;
                    color: white;
                }
            }
        }
    }


}
