.tpg {
    background-image: url("../img/tpg.png");
    display: inline-block;
    height: 18px;
    margin-right: 3px;
    position: relative;
    top: 4px;
    width: 24px;
}
.tpg1{background-position:0 0;}
.tpg2{background-position:0 -21px;}
.tpg3{background-position:0 -43px;}
.tpg4{background-position:0 -64px;}
.tpg5{background-position:0 -85px;}
.tpg6{background-position:0 -106px;}
.tpg7{background-position:0 -128px;}
.tpg8{background-position:0 -149px;}
.tpg9{background-position:0 -170px;}
.tpg10{background-position:0 -192px;}
.tpg11{background-position:0 -214px;}
.tpg12{background-position:0 -235px;}
.tpg13{background-position:0 -256px;}
.tpg14{background-position:0 -278px;}
.tpg15{background-position:0 -299px;}
.tpg16{background-position:0 -321px;}
.tpg17{background-position:-33px 0;}
.tpg18{background-position:-33px -21px;}
.tpg19{background-position:-33px -43px;}
.tpg20{background-position:-33px -64px;}
.tpg21{background-position:-33px -85px;}
.tpg22{background-position:-33px -106px;}
.tpg23{background-position:-33px -128px;}
.tpg27{background-position:-33px -149px;}
.tpg28{background-position:-33px -170px;}
.tpg29{background-position:-33px -192px;}
.tpg31{background-position:-33px -214px;}
.tpg32{background-position:-33px -235px;}
.tpg33{background-position:-33px -256px;}
.tpg34{background-position:-33px -278px;}
.tpg35{background-position:-33px -299px;}
.tpg36{background-position:-33px -320px;}
.tpg41{background-position:-67px 0;}
.tpg42{background-position:-67px -21px;}
.tpg43{background-position:-67px -43px;}
.tpg44{background-position:-67px -64px;}
.tpg45{background-position:-67px -85px;}
.tpg46{background-position:-67px -106px;}
.tpg47{background-position:-136px -191px;}
.tpg48{background-position:-67px -128px;}
.tpg49{background-position:-67px -149px;}
.tpg51{background-position:-67px -170px;}
.tpg52{background-position:-67px -192px;}
.tpg53{background-position:-67px -214px;}
.tpg54{background-position:-67px -235px;}
.tpg55{background-position:-67px -256px;}
.tpg56{background-position:-67px -278px;}
.tpg57{background-position:-67px -299px;}
.tpg61{background-position:-169px -0px;}
.tpg71{background-position:-67px -321px;}
.tpg72{background-position:-104px 0;}
.tpg73{background-position:-104px -21px;}
.tpg74{background-position:-104px -43px;}
.tpgA{background-position:-104px -64px;}
.tpgB{background-position:-104px -85px;}
.tpgC{background-position:-104px -106px;}
.tpgD{background-position:-104px -128px;}
.tpgE{background-position:-104px -149px;}
.tpgF{background-position:-104px -170px;}
.tpgG{background-position:-104px -192px;}
.tpgK{background-position:-104px -214px;}
.tpgL{background-position:-104px -235px;}
.tpgM{background-position:-136px -299px;}
.tpgM1{background-position:-104px -256px;}
.tpgM2{background-position:-104px -278px;}
.tpgM3{background-position:-104px -299px;}
.tpgM4{background-position:-104px -321px;}
.tpgO{background-position:-136px 0;}
.tpgS{background-position:-136px -21px;}
.tpgT{background-position:-136px -43px;}
.tpgU{background-position:-136px -64px;}
.tpgV{background-position:-136px -85px;}
.tpgW{background-position:-136px -106px;}
.tpgX{background-position:-136px -128px;}
.tpgY{background-position:-136px -149px;}
.tpgZ{background-position:-136px -170px;}
.tpgmore{background-position:-138px -321px;}
.tpgDN{background-position:-136px -235px;}
.tpgDn{background-position:-136px -235px;}
.tpg46B{background-position:-136px -256px;}
.tpg46b{background-position:-136px -256px;}
.tpg25{background-position:-136px -278px;}
