@import "variables.scss";


h1,h2,h3,h4,h5 {
    font-family: $heading_font_stack;
        letter-spacing: 1px;
}


h1 {
    font-size: 4em;
    margin: 0 0 20px;
}

h2 {
    font-size: 5.5em;
    margin: 0 0 30px;
}

h3 {
    font-size: 2em;
    margin: 0 0 20px;
}



p  {
    font-size: 1.6em;
    line-height: 160%;
    padding:0 0 30px;
}

li {
    font-size: 1.6em;
    line-height: 150%;
}

a {

    text-decoration: none;
    transition: all 0.3s;
    color: $brand_color;

    &:hover {
        text-decoration: none;
    }
}


hr {
    border:0;
    border-top: 4px solid $brand_color;
    outline:0;
    appearance: none;
    margin:30px 0;
    padding: 0;
}

// forms
form {}
input, textarea {
    padding: 10px;
    background: white;
    border: 0;
    border-radius: 10px;

    &.submit_button {
        text-transform: uppercase;
        color:black;
        background: $brand_color;
    }
}
