

$brand_color: #00ffff;
$cyan: #00ffff;

$font_color: #222;
$background_color: #fff;

$light_grey: #f1f1f1;
$medium_grey: #888;
$dark_grey: #222;
$black: #000;


$font_stack: 'Roboto',   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
